

.header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-top: 1em;
    padding-bottom: 5em;
    background-color:black;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }

.text{
    color:white;
}
.img{
    height:13em;

}

.wedding-img{
    width:100%;
    height:45em;
}
.nav {
    width:60%;
    display:flex;
    font-size: 1.5em;
    justify-content:space-around;
    padding-bottom: 1em;
}

